<div class="mt">
  <div class="table-container mat-elevation-z8">
    <perfect-scrollbar class="scrollbar" [style.display]="loading ? 'none':''" [autoPropagation]="true">
    <table mat-table [dataSource]="topics">

      <!-- Number Column -->
      <ng-container matColumnDef="N">
        <th mat-header-cell *matHeaderCellDef> &#8470; </th>
        <td mat-cell *matCellDef="let element"> #{{element.id}} </td>
      </ng-container>

      <!-- Question Column -->
      <ng-container matColumnDef="Question">
        <th mat-header-cell *matHeaderCellDef class="w-75 pr-4"> Question </th>
        <td mat-cell *matCellDef="let element" class="w-75 pr-4"> {{element.title}} </td>
      </ng-container>

      <!-- Score Column -->
      <ng-container matColumnDef="Score">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.score == -1">N/A</span>
          <span *ngIf="element.score != -1">{{element.score}}%</span>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="identification === sections.reading" class="btn btn-sm" style="font-size: 20px" [routerLink]="['/reading-task/', element.id]">Start</button>
          <button *ngIf="identification === sections.listening" class="btn btn-sm" style="font-size: 20px" [routerLink]="['/listening-task/', element.id, element.type, element.title]">Start</button>
          <button *ngIf="identification === speaking.speakingOne" class="btn btn-sm" style="font-size: 20px" [routerLink]="['/speaking-task/', element.id, identification]">Start</button>
          <button *ngIf="identification === speaking.speakingTwo" class="btn btn-sm" style="font-size: 20px" [routerLink]="['/speaking-task/', element.id, identification]">Start</button>
          <button *ngIf="identification === speaking.speakingThree" class="btn btn-sm" style="font-size: 20px" [routerLink]="['/speaking-task/', element.id, identification]">Start</button>
          <button *ngIf="identification === speaking.speakingFour" class="btn btn-sm" style="font-size: 20px" [routerLink]="['/speaking-task/', element.id, identification]">Start</button>
          <button *ngIf="identification === speaking.speakingExOne" class="btn btn-sm" style="font-size: 20px" [routerLink]="['/speaking-task/', element.id, identification]">Start</button>
          <button *ngIf="identification === speaking.speakingExTwo" class="btn btn-sm" style="font-size: 20px" [routerLink]="['/speaking-task/', element.id, identification]">Start</button>
          <button *ngIf="identification === writing.integratedWriting" class="btn btn-sm" style="font-size: 20px" [routerLink]="['/writing-task/', element.id, identification]">Start</button>
          <button *ngIf="identification === writing.independentWriting" class="btn btn-sm" style="font-size: 20px" [routerLink]="['/writing-task/', element.id, identification]">Start</button>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false" class="datatable-header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="datatable-class"></tr>
    </table>
    </perfect-scrollbar>
    <!--Spinner-->
    <mat-card *ngIf="loading"
              style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <mat-progress-spinner
        color="#5B5EA6"
        mode="indeterminate">
      </mat-progress-spinner>
    </mat-card>
  </div>
</div>
