ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}

.timer, .arrow {
  color: #5B5EA6;
}

.title {
  background-color: #5B5EA6;
  color: white;
  font-size: 30px;
  font-style: italic;
}

.btn:hover .arrow {
  color: white;
  transition: color 0.15s ease-in-out;
}

.navigation {
  font-weight: bold;
  font-size: 20px;
  color: #5B5EA6;
  cursor: pointer;
  user-select: none;
}

.navigation:hover {
  opacity: 0.8;
}

.questions {
  font-size: 20px;
  color: #5B5EA6;
  user-select: none;
}

.study-content {
  height: 70vh;
}
.question-side {
  font-size: 18px;
  user-select: none;
}

.text-side {
  font-size: 18px;
  user-select: none;
}

.scrollbar {
  width: 97%;
}

.highlighted-underline {
  font-weight: bold !important;
}

.question-content {
  white-space: pre-wrap
}

.explanation-title {
  background-color: #5B5EA6 !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}

.explanation {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #F5F5F5;
}

.container {
  display: inline-block;
  width: fit-content;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 20px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #5B5EA6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 3px;
  width: 9px;
  height: 16px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.results {
  font-size: 25px;
  border-radius: 20px;
  background-color: #5B5EA6;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

.results:hover {
  opacity: 0.8;
}
